emoji==1.7.0
hachibee_sphinx_theme==0.2.5
keras==2.9.0
matplotlib==3.5.2
numpy==1.23.0
pandas==1.4.3
scikit_learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
setuptools==59.6.0
tensorflow==2.9.1
Babel==2.9.1
imagesize==1.2.0
readme-renderer==26.0
Sphinx>=3.1.2
sphinx-argparse>=0.2.5
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4